version: '3.8'

services:
  client:
    build:
      context: ./client
      dockerfile: ../Dockerfile.client
    ports:
      - "3000:80"
    depends_on:
      - server
    restart: unless-stopped

  server:
    build:
      context: ./server
      dockerfile: ../Dockerfile.server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: unless-stopped
